/* Recipe Name */

#RecipeName{
position: absolute;
width: 511px;
height: 55px;
left: 250px;
top: 180px;

background: #C4C4C4;
}

#Ingridents{
position: absolute;
width: 511px;
height: 151px;
left: 250px;
top: 290px;

background: #C4C4C4;
}

#Instructions{
position: absolute;
width: 515px;
height: 259px;
left: 250px;
top: 495px;

background: #C4C4C4;
}

#SaveButton{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 20px;

position: absolute;
width: 163px;
height: 57px;
left: 1057px;
top: 565px;

border: 1px solid #000000;
border-radius: 40px;
}

#DiscardButton{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
    
position: absolute;
width: 163px;
height: 57px;
left: 1057px;
top: 650px;
    
border: 1px solid #000000;
border-radius: 40px;
}

#Photo{
position: absolute;
width: 356px;
height: 260px;
left: 1057px;
top: 180px;

background: #C4C4C4;
}

#mainBox{
position: absolute;
width: 1116px;
height: 736px;
left: 0px;
top: 134px;
}

#TopBar{
position: absolute;
height: 60px;
left: 0%;
right: 0%;
top: 0px;

background: rgba(0, 0, 0, 0.56);
}

#Logo{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 20px;

position: absolute;
width: 60px;
height: 40px;
left: 0px;
top: -3px;

background: linear-gradient(0deg, #292727, #292727), #292727;
border: 1px solid #000000;

}

#nav{
position: absolute;
width: 160px;
height: 720px;
left: 0px;
top: 60px;
bottom: 10x;

background-color: #046380;

}

#SearchBar{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 20px;

position: absolute;
width: 356px;
height: 32px;
left: 412px;
top: 80px;

border: 1px solid #000000;
border-radius: 40px;
}




/* Need to change the syling since I copied */
*{
    /* These values are used here specifically to keep the menu in the proper spot on the display and are not required to create the menu.*/
    padding:0;
    margin:0;
    
  }
  
  #nav ul{
    list-style:none;
    font-family:verdana,sans-serif;
    font-weight:bold;
    text-align:left;
    width:150px;
  }
  
  #nav a:link, a:visited{
    background-color:#046380;
    border-bottom:1px solid #efecca;
    color:#efecca;
    display:block;
    text-decoration:none;
    padding:8px 15px;
  }
  
  #nav a:hover{
    background-color:#efecca;
    color:#046380;
  }
  
  #nav a:active{
    background-color:#a7a37e;
  }



  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  