/* Recipe Name */

#RecipeName{
position: absolute;
width: 511px;
height: 55px;
left: 250px;
top: 180px;
border-radius: 10px;
padding: 15px;
font-size: 18px;
font-family:verdana,sans-serif;

background: #C4C4C4;
}

#Ingridents{
position: absolute;
width: 511px;
height: 151px;
left: 250px;
top: 290px;
border-radius: 10px;
padding: 15px;
font-size: 18px;
font-family:verdana,sans-serif;

background: #C4C4C4;
}

#Instructions{
position: absolute;
width: 515px;
height: 259px;
left: 250px;
top: 495px;
border-radius: 10px;
padding: 15px;
font-size: 18px;
font-family:verdana,sans-serif;

background: #C4C4C4;
}

#SaveButton{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 10px 20px;
font-size: 18px;
font-family:verdana,sans-serif;

position: absolute;
width: 160px;
height: 57px;
left: 1020px;
top: 565px;

border: 1px solid #000000;
border-radius: 40px;
background-color: rgb(243, 195, 131);
}

#DiscardButton{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 10px 20px;
font-size: 18px;
font-family:verdana,sans-serif;
    
position: absolute;
width: 160px;
height: 57px;
left: 1020px;
top: 650px;
    
border: 1px solid #000000;
border-radius: 40px;
background-color: rgb(243, 195, 131);
}

#Photo{
position: absolute;
width: 500px;
height: 330px;
left: 850px;
top: 180px;
font-family:verdana,sans-serif;
font-size: 15px;
border-radius: 10px;

background: #C4C4C4;
}

#mainBox{
position: absolute;
width: 1116px;
height: 736px;
left: 0px;
top: 134px;
}

.TopBar{
background: rgb(88, 88, 88);
}

#Logo{
  width: 60px;
  height: 40px;
  padding-top: 5px;

  background: rgb(88, 88, 88);

}

#nav{
position: absolute;
width: 200px;
height: 720px;
left: 0px;
top: 60px;
bottom: 10x;

background-color: rgb(243, 195, 131);

}

#SearchBar{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 10px 20px;

position: absolute;
width: 356px;
height: 50px;
left: 412px;
top: 80px;

border: 1px solid #000000;
border-radius: 40px;
}


#search-bar{
  display: flex;
  border: 0px;
  font-size: 18px;
  height: 75%;
  width: 100%;
  padding: 10px;
}

.search-icon {
  width: 50%;
  height: 50%;
  align-self: right;
}
  

*{
  /* These values are used here specifically to keep the menu in the proper spot on the display and are not required to create the menu.*/
  padding:0;
  margin:0;
  
}

#nav ul{
  list-style:none;
  font-family:verdana,sans-serif;
  font-weight:bold;
  text-align:left;
}

#nav a:link, a:visited{
  background-color: rgb(243, 195, 131);
  border-bottom:1px solid rgb(88, 88, 88);
  color: rgb(88, 88, 88);
  display:block;
  text-decoration:none;
  padding:20px 15px;
}

#nav a:hover{
  background-color:#f3efbf;
  color:rgb(0, 0, 0);
}

#nav a:active{
  background-color:#f3efbf;
}

.recipeCards {
  width: 200px;
  height: 161px;
  background: #C4C4C4;

}